{% extends "base.html" %}
{% load webpack_loader static %}
{% load markdown_extras %}

{% block meta %}
<title>{{ blog_post.title }} | OSIG Blog</title>
<meta name="description" content="{{ blog_post.description }}" />
<meta name="keywords" content="{{ blog_post.tags }}" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="https://{{ request.get_host }}{{ blog_post.get_absolute_url }}" />

<meta property="og:type" content="article" />
<meta property="og:title" content="{{ blog_post.title }}" />
<meta property="og:url" content="https://{{ request.get_host }}{{ blog_post.get_absolute_url }}" />
<meta property="og:description" content="{{ blog_post.description }}" />
<meta property="og:image" content="https://osig.app/g?site=x&style=base&font=markerfelt&title={{ blog_post.title }} | OSIG Blog&subtitle={{ blog_post.description }}&image_url=https://{{ request.get_host }}{{ blog_post.image.url }}" />
<meta property="og:locale" content="en_US" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@rasulkireev" />
<meta name="twitter:site" content="@rasulkireev" />
<meta name="twitter:title" content="{{ blog_post.title }}" />
<meta name="twitter:description" content="{{ blog_post.description }}" />
<meta name="twitter:image" content="https://osig.app/g?site=x&style=base&font=markerfelt&title={{ blog_post.title }} | OSIG Blog&subtitle={{ blog_post.description }}&image_url=https://{{ request.get_host }}{{ blog_post.image.url }}" />
{% endblock meta %}

{% block content %}
<article class="container px-4 py-8 mx-auto md:relative">
  <div class="mx-auto max-w-3xl">
    <h1 class="mb-6 text-3xl font-bold">{{ blog_post.title }}</h1>

    <div class="max-w-none prose-lg">
      {{ blog_post.content|markdown|safe }}
    </div>
  </div>
</article>
{% endblock content %}

{% block schema %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ blog_post.title }}",
    "description": "{{ blog_post.description }}",
    "image": "https://osig.app/g?site=x&style=base&font=markerfelt&title={{ blog_post.title }} | OSIG Blog&subtitle={{ blog_post.description }}&image_url=https://{{ request.get_host }}{{ blog_post.image.url }}",
    "url": "https://{{ request.get_host }}{{ blog_post.get_absolute_url }}",
    "datePublished": "{{ blog_post.created_at|date:'c' }}",
    "dateModified": "{{ blog_post.updated_at|date:'c' }}",
    "author": {
      "@type": "Person",
      "name": "Rasul Kireev",
      "url": "https://rasulkireev.com/"
    },
    "publisher": {
      "@type": "Organization",
      "name": "OSIG",
      "logo": {
        "@type": "ImageObject",
        "url": "{% static 'vendors/images/logo.png' %}"
      }
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://{{ request.get_host }}{{ blog_post.get_absolute_url }}"
    }
  }
</script>
{% endblock schema %}
