{% extends "base.html" %}
{% load webpack_loader static %}

{% block meta %}
<title>OSIG Blog</title>
<meta name="description" content="All posts on the topic of OG Image Generation" />
<meta name="keywords" content="og image, og image creator, og image maker, og image template, og image generator, og image creator, og image maker, og image template, og image template, og image generator, og image creator, og image maker, og image template" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="https://{{ request.get_host }}{% url 'blog_posts' %}" />

<meta property="og:type" content="website" />
<meta property="og:title" content="OSIG Blog" />
<meta property="og:url" content="https://{{ request.get_host }}{% url 'blog_posts' %}" />
<meta property="og:description" content="All posts on the topic of OG Image Generation" />
<meta property="og:image" content="https://osig.app/g?site=x&style=logo&font=markerfelt&title=OSIG Blog&subtitle=All posts on the topic of OG Image Generation&image_url=https://osig.app/static/vendors/images/logo-square.png" />
<meta property="og:locale" content="en_US" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@rasulkireev" />
<meta name="twitter:site" content="@rasulkireev" />
<meta name="twitter:title" content="OSIG Blog" />
<meta name="twitter:description" content="All posts on the topic of OG Image Generation" />
<meta name="twitter:image" content="https://osig.app/g?site=x&style=logo&font=markerfelt&title=OSIG Blog&subtitle=All posts on the topic of OG Image Generation&image_url=https://osig.app/static/vendors/images/logo-square.png" />
{% endblock meta %}

{% block content %}
<div class="container px-4 py-8 mx-auto md:relative">
  <div class="mx-auto max-w-3xl">
    <h1 class="mb-8 text-3xl font-bold text-center">OSIG Blog</h1>
    {% if blog_posts %}
      <div class="space-y-4">
        {% for post in blog_posts %}
          <a href="{{ post.get_absolute_url }}" class="block rounded-lg transition duration-150 ease-in-out hover:bg-gray-100">
            <article class="flex items-start p-4">
              {% if post.icon %}
                <img src="{{ post.icon.url }}" alt="{{ post.title }}" class="object-cover flex-shrink-0 mr-4 w-24 h-24 rounded-lg">
              {% endif %}
              <div>
                <h2 class="mb-2 text-2xl font-semibold text-gray-900">{{ post.title }}</h2>
                <p class="text-gray-600">{{ post.description }}</p>
              </div>
            </article>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <p class="text-center text-gray-600">No blog posts available at the moment.</p>
    {% endif %}
  </div>
</div>
{% endblock content %}

{% block schema %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "OSIG Blog",
    "description": "All posts on the topic of OG Image Generation",
    "thumbnailUrl": "https://osig.app/g?site=x&style=logo&font=markerfelt&title=OSIG Blog&subtitle=All posts on the topic of OG Image Generation&image_url=https://osig.app/static/vendors/images/logo-square.png",
    "url": "https://{{ request.get_host }}{% url 'blog_posts' %}",
    "author": {
      "@type": "Person",
      "givenName": "Rasul",
      "familyName": "Kireev",
      "url": "https://rasulkireev.com/"
    }
  }
  </script>
{% endblock schema %}
